body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.rotate {
    background-color: red;
}

.translate {
    background-color: blue;
}

.translate_radial {
    background: radial-gradient(circle at center, #ff0000, #0000ff);
}

.pulse_color {
    background-color: green;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.box {
    width: 150px;
    /* Largeur */
    height: 150px;
    /* Hauteur */
    margin: 10px;
}

:root {
    --color1: orange;
    --color2: purple;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    position: relative;
    overflow: hidden;
    gap: 3rem;
    flex-wrap: wrap;
}

.box {
    width: 80svh;
    aspect-ratio: 1;
    border: 12px solid white;
    box-shadow: 0 0 2svh 0.5svh rgb(22, 22, 22) inset;
    border-radius: 1rem;
}

/* Rotating gradient */

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.rotate {
    background: linear-gradient(var(--angle),
            var(--color1) 10%,
            var(--color2) 90%);
    z-index: 100;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100% {
        --angle: 360deg;
    }
}

/* Translate gradient */

@property --position1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --position2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
}

@property --position3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 150%;
}

.translate {
    z-index: 200;
    background: linear-gradient(180deg,
            var(--color2) var(--position1),
            var(--color1) var(--position2),
            var(--color2) var(--position3));
    animation: translate 2s linear infinite;
}

@keyframes translate {
    50% {
        --position1: -100%;
        --position2: -50%;
        --position3: 0%;
    }
}

/* Translate radial gradient */

@property --translate_radial__x {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --translate_radial__y {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.translate_radial {
    background: radial-gradient(circle at var(--translate_radial__x) var(--translate_radial__y),
            var(--color1) 20%,
            var(--color1) 25%,
            var(--color2) 40%);
    z-index: 300;
    animation: translate_radial 2s linear infinite;
}

@keyframes translate_radial {
    25% {
        --translate_radial__x: 100%;
        --translate_radial__y: 0%;
    }

    50% {
        --translate_radial__x: 100%;
        --translate_radial__y: 100%;
    }

    75% {
        --translate_radial__x: 0%;
        --translate_radial__y: 100%;
    }
}

/* pulse color */

@property --pulse_color__1 {
    syntax: '<color>';
    inherits: false;
    initial-value: purple;
}

@property --pulse_color__2 {
    syntax: '<color>';
    inherits: false;
    initial-value: orange;
}

.pulse_color {
    background: radial-gradient(circle,
            var(--pulse_color__1),
            var(--pulse_color__2));
    z-index: 400;
    animation: pulse_color 2s linear infinite;
}

@keyframes pulse_color {
    50% {
        --pulse_color__1: black;
        --pulse_color__2: white;
    }
}